.hero-clip {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);

}
.card {
    background-image: radial-gradient(at top right, #1F1B41 0%, #1C1B1B 70%);
}
input, textarea {
    background-color: transparent;
}
.faq-title {
    border-radius: 20px 5px 20px 5px;
}
.slide-right-m {
	-webkit-animation: slide-right 0.5s ease-out both;
	        animation: slide-right 0.5s ease-out both;
}
.slide-left-m {
	-webkit-animation: slide-left 0.5s ease-out both;
	        animation: slide-left 0.5s ease-out both;
}
.slide-bottom-m {
	-webkit-animation: slide-bottom 0.5s ease-out both;
	        animation: slide-bottom 0.5s ease-out both;
}
@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
}
@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(-400px);
              transform: translateX(-400px);
    }
}
@keyframes slide-left {
    0% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    100% {
        -webkit-transform: translateX(-400px);
                transform: translateX(-400px);
    }
}
@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-400px);
              transform: translateX(-400px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
}
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-400px);
                transform: translateX(-400px);
    }
    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}
