.hero-clip {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);

}
.card {
    background-image: radial-gradient(at top right, #1F1B41 0%, #1C1B1B 70%);
}
input, textarea {
    background-color: transparent;
}
.faq-title {
    border-radius: 20px 5px 20px 5px;
}